.loginBox{
    width: 100%;
    /* border: 2px solid red; */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.LoginPic{
    /* border: 1px solid lime; */
    width: 300px;
    flex-shrink: 0;


}

.loginForm{
    /* border: 1px solid red; */
    width: 400px;
    padding: 8px;
}
.forgetDiv{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px auto;
    color: #09DEEA;
    cursor: pointer;
    font-weight: bold;

}
.notAcc{
    /* color: #09DEEA; */
    font-weight: bold;
}
@media only screen and (max-width:704px){
    .loginBox{
            align-items: stretch;
            border: 1px solid lime;
}

}